[submodule "lib/pupil"]
	path = lib/pupil
	url = https://github.com/behinger/pupil
[submodule "lib/pyedfread"]
	path = lib/pyedfread
	url = https://github.com/nwilming/pyedfread
[submodule "lib/nslr-hmm"]
	path = lib/nslr-hmm
	url = https://gitlab.com/nslr/nslr-hmm/
